menu "Compiler Passes"

config BEANDIP
  bool "BEANDIP"
  default n
  depends on !HALT_WHILE_IDLE
  help
    Enables the BEANDIP LLVM Pass

config CARAT_PASS
  bool "CARAT Pass"
  default n
  select CARAT_RT
  help
    Enables the CARAT LLVM Pass

config EXAMPLE_PASS
  bool "Example Pass"
  default n
  help
    Enables the Example LLVM Pass (does nothing)

endmenu
